@use './custom' as *;
//layout
@use './layout/header';
@use './layout/footer';

//landing-page
@use './modules/hero';
@use './modules/most-picked';
@use './modules//categories';
@use './modules/testimony';

//detail-page
@use './pages/details-page';
@use './modules/heading-detail';
@use './modules/booking-form';
@use './modules/futured-image';
@use './modules/desc-detailpage';
@use '../components/Form/InputNumber/index' as InputNumber;
@use '../components/Form/InputDate/index' as InputDate;

//Stepper
@use '../components/Stepper/index' as Stepper;

//IconText
.brand-text-icon {
    font-size: 26px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: $indigo;
    text-decoration: none;

    span {
        color: $secondary !important;
    }
}

//--------------------------------Utils

//rating
.rating {
    display: flex;
    gap: 2px;
    width: 30px;

    img {
        width: 100%;
    }

}