@use './custom' as *;
//layout
@use './layout/header';
@use './layout/footer';

//landing-page
@use './modules/hero';
@use './modules/most-picked';


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

p,
h1 {
    margin: 0;
}

//IconText
.brand-text-icon {
    font-size: 26px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: $indigo;
    text-decoration: none;

    span {
        color: $secondary !important;
    }
}