header {
  border-bottom: 1px solid #e9ecef;
  width: 100%;
  position: relative;
}
header .navbar {
  height: 80px;
}
header .navbar .navbar-nav li.nav-item a.nav-link {
  color: #152C5B;
  padding: 0 1rem;
  font-weight: 500;
}
header .navbar .navbar-nav li.nav-item a.nav-link:hover {
  color: #5c12d4;
}

.footer .test {
  color: #212529;
}

.hero {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 60px;
}
.hero .content {
  flex: 1;
}
.hero .content .title {
  font-weight: 700;
  font-size: 42px;
  line-height: 4rem;
  color: #152C5B;
  margin-bottom: 20px;
}
.hero .content .description {
  color: #ced4da;
  width: 55%;
  margin-bottom: 30px;
  font-weight: 400;
}
.hero .content .btn {
  padding: 10px 50px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}
.hero .content .info {
  display: flex;
  width: 80%;
  margin-top: 50px;
}
.hero .content .info .item {
  flex: 1;
}
.hero .content .info .item img {
  width: 32px;
  margin-bottom: 10px;
}
.hero .content .info .item p {
  color: #ced4da;
}
.hero .content .info .item p span {
  color: #152C5B;
  font-weight: 500;
}
.hero .banner {
  flex: 1;
  display: flex;
  align-items: center;
}
.hero .banner img {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
}

.most-picked {
  margin-bottom: 70px;
}
.most-picked .title {
  color: #152C5B;
  margin-bottom: 30px;
}
.most-picked .items {
  display: flex;
  gap: 30px;
}
@media (max-width: 960px) {
  .most-picked .items {
    flex-direction: column;
  }
}
.most-picked .items .card {
  border-radius: 15px;
  position: relative;
  border: none;
  color: white;
  overflow: hidden;
}
.most-picked .items .card img {
  border-radius: inherit;
  filter: brightness(80%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.most-picked .items .card .price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FF498B;
  padding: 10px 20px;
  border-radius: 0 15px 0 15px;
}
.most-picked .items .card .details {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 20px;
}
.most-picked .items .card .details .name {
  font-size: 20px;
}
.most-picked .items .card .details .location {
  font-weight: 300;
}
.most-picked .items .card-big {
  flex: 1;
  width: 100%;
  height: 460px;
}
@media (max-width: 960px) {
  .most-picked .items .card-big {
    max-height: 300px;
  }
}
.most-picked .items .others {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.most-picked .items .others .card {
  height: 215px;
  min-width: calc(50% - 15px);
}

.category {
  margin-bottom: 70px;
}
.category .title {
  margin-bottom: 30px;
  color: #152C5B;
}
.category .items {
  display: flex;
  gap: 30px;
  overflow-x: auto;
}
.category .items .card {
  flex: 1;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 250px;
  overflow: hidden;
  max-width: 301px;
  min-width: 301px;
  position: relative;
}
.category .items .card img {
  border-radius: 15px;
  flex: 1;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.category .items .card .details {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.category .items .card .details .name {
  font-size: 20px;
  color: #152C5B;
  font-weight: 500;
}
.category .items .card .details .locations {
  color: #ced4da;
}
.category .items .card .badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FF498B;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0 15px 0 15px;
  padding: 10px 20px;
}
.category .items .card .badge span {
  font-weight: 400;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

p,
h1 {
  margin: 0;
}

.brand-text-icon {
  font-size: 26px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #5c12d4;
  text-decoration: none;
}
.brand-text-icon span {
  color: #152C5B !important;
}/*# sourceMappingURL=style.css.map */