@use '../custom' as *;

@mixin heading-2 {
    font-size: 36px;
    color: $secondary;
}

@mixin hotel-name-card {
    font-size: 20px;
    color: $secondary;
    font-weight: 500;
}

@mixin location-name-card {
    font-size: 16px;
    color: $gray-400;
    font-weight: 200;
}

@mixin total-price {
    color: $gray-500;
    font-weight: 200;

    span {
        color: $secondary;
        font-weight: 500;
    }
}

@mixin form-input-checkout {
    input {
        border: none;
        background-color: $gray-200;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        max-width: 320px;
        color: $secondary;

        &::placeholder {
            color: $gray-400;
        }

        &:focus {
            outline: none;
        }

        &[type="file"]::-webkit-file-upload-button {
            display: none;
        }

    }
}